<ul class="component">
  <li>
    <span>
      I'm a software engineer working at
      <a
        target="_blank"
        href="https://www.chess.com">
        chess.com
      </a>
    </span>
  </li>
  <li><span>Streamer and and content creator - always about coding</span></li>
  <li><span>Originally from Chile, currently living in Catalonia</span></li>
</ul>

<style>
  .component {
    margin: 0;
  }

  .title {
    margin: 0;
    color: var(--color-yellow);
  }
</style>
