---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang || 'en');
---

<ul class="component">
  <li>
    <span>
      {t('whoami')}
      <a
        target="_blank"
        href="https://www.chess.com">
        {t('chesscom')}
      </a>
    </span>
  </li>
  <li><span>Streamer and and content creator - always about coding</span></li>
  <li><span>Originally from Chile, currently living in Catalonia</span></li>
</ul>

<style>
  .component {
    margin: 0;
  }

  .title {
    margin: 0;
    color: var(--color-yellow);
  }
</style>
