---
import LanguagePicker from './LanguagePicker.astro';
---

<section class="component">
  <div class="section left">
    <section class="window-controls">
      <div class="button red"></div>
      <div class="button yellow"></div>
      <div class="button green"></div>
    </section>

    <span class="title">kitty</span>

    <span class="pwd">~/home/thisguyvims</span>
  </div>

  <div class="section right">
    <LanguagePicker />
  </div>
</section>

<style>
  .component {
    --px: 1rem;

    align-items: center;
    background-color: var(--color-mantle);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    justify-content: space-between;
    padding: 0.4rem var(--px);
    width: calc(100% - (var(--px) * 2));
    font-weight: 600;
  }

  .terminal-content {
    padding: 0.2rem 0.5rem;
  }

  .section {
    align-items: center;
    display: flex;
    gap: 0.8rem;
  }

  .section.left {
    justify-content: flex-start;
  }

  .section.right {
    justify-content: flex-end;
  }

  .title {
    color: var(--color-mauve);
  }

  .pwd {
    color: var(--color-blue);
  }

  .window-controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    height: 100%;
    justify-content: center;
  }

  .button {
    border-radius: var(--radius-full);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 0.6rem;
    width: 0.6rem;
  }

  .button.red {
    background-color: var(--color-red);
  }

  .button.yellow {
    background-color: var(--color-yellow);
  }

  .button.green {
    background-color: var(--color-green);
  }
</style>
