---
import { getLangFromUrl } from '../i18n/utils';
import { languages } from '../i18n/ui';

const langFromUrl = getLangFromUrl(Astro.url);
---

<ul class="component">
  {
    Object.entries(languages).map(([lang]) => (
      <li>
        <a
          class={'title ' + (lang === langFromUrl ? 'active' : '')}
          href={`/${lang}/`}>
          {lang}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .component {
    list-style-type: none;
    align-items: center;
    gap: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title:not(.active) {
    color: var(--color-mauve);
  }
  .title.active {
    color: var(--color-yellow);
  }
</style>
