---
import AboutAnswer from './AboutAnswer.astro';
import Command from './Command.astro';
import EmptyCommand from './EmptyCommand.astro';
import Header from './Header.astro';
import MusicAnswer from './MusicAnswer.astro';
import ProfileAnswer from './ProfileAnswer.astro';
import Prompt from './Prompt.astro';
import SocialAnswer from './SocialAnswer.astro';
import WhoamiAnswer from './WhoamiAnswer.astro';
---

<main class="terminal">
  <Header />

  <section class="content">
    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <Command text="whoami" />
      </div>

      <WhoamiAnswer />
    </div>

    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <Command text="cat about.txt" />
      </div>

      <AboutAnswer />
    </div>

    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <Command text="cat profile.jpg" />
      </div>

      <ProfileAnswer />
    </div>

    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <Command text="ls music" />
      </div>

      <MusicAnswer />
    </div>

    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <Command text="ls socials" />
      </div>

      <SocialAnswer />
    </div>

    <div class="command-answer-wrapper">
      <div class="prompt-command-wrapper">
        <Prompt />
        <EmptyCommand />
      </div>
    </div>
  </section>
</main>

<style>
  .command-answer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  .terminal {
    align-items: flex-start;
    border-radius: var(--radius-l);
    border: 1px solid rgb(from var(--color-overlay-0) r g b / 40%);
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    min-width: 19rem;
    background-color: var(--color-base);
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .prompt-command-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: fit-content;
    justify-content: flex-start;
    padding: 1rem 0.8rem;
  }

  @media (min-width: 760px) {
    .terminal {
      width: 46rem;
    }
  }
</style>
