---
import Header from './Header.astro';
import Prompt from './Prompt.astro';
---

<main class="terminal">
  <Header />

  <section class="content">
    <Prompt />
  </section>
</main>

<style>
  .terminal {
    align-items: flex-start;
    border-radius: var(--radius-l);
    border: 1px solid rgb(from var(--color-overlay-0) r g b / 40%);
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: flex-start;
    overflow: hidden;
    width: 46rem;
    background-color: var(--color-base);
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .content {
    padding: 0.2rem 0.5rem;
    height: fit-content;
  }
</style>
