<div class="component">
  <h1 class="title">Hola! I'm thisguyvims</h1>
</div>

<style>
  .component {
    font-weight: 400;
    margin-right: 0.8rem;
  }

  .title {
    margin: 0;
    color: var(--color-mauve);
  }
</style>
