<div class="component">
  <h1 class="title">Hola! I'm thisguyvims</h1>
  <ul>
    <li><span>Engineer working at chesscom</span></li>
    <li><span>Streamer and content creator about coding</span></li>
    <li><span>Originally from Chile, currently living in Catalonia</span></li>
  </ul>
</div>

<style>
  .component {
    color: var(--color-text);
    font-weight: 400;
    margin-right: 0.8rem;
  }

  .title {
    margin: 0;
  }
</style>
