---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang || 'en');
---

<div class="component">
  <h1 class="title">{t('whoami.title')}</h1>
</div>

<style>
  .component {
    font-weight: 400;
    margin-right: 0.8rem;
  }

  .title {
    margin: 0;
    color: var(--color-mauve);
  }
</style>
