<div class="component">
  <h1 class="title">Hola! I'm thisguyvims</h1>
</div>

<style>
  .component {
    color: var(--color-text);
    font-weight: 400;
    margin-right: 0.8rem;
  }

  .title {
    margin: 0;
    color: var(--color-yellow);
  }
</style>
